name: Build & Analysis
permissions:
  contents: read

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Build with Maven + Static Analysis
        run: ./mvnw clean verify

      - name: Semgrep Scan
        uses: returntocorp/semgrep-action@v1
